@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&family=Silkscreen:wght@400;700&display=swap');

/*----------Default values for tags----------*/
    body{
        background:#dbdbdb;
        background-color: #dbdbdb;
        display: flex;
        flex-direction: column; 
        overflow-x:hidden;
    }


    a{
        text-decoration: none;
        color: white;
    }

    h1{
        font-family: "Lekton";
        font-weight: bold;
        margin:1rem;
    }

    h3{
        font-family: "Lekton";
        margin:0;
        color:black;
    }

    h4{
        font-family: "Lekton";
        font-weight: lighter;
        margin:0;
        color:black;
    }

    h6{
        margin:1rem;
    }

    p{
        font-family: "Lekton";
        font-size:large;
        font-weight: bold;
        vertical-align: top;
        margin:0;
        text-indent: 40px;
        color:black;
    }

    ul {
        list-style-type: none !important;
    }

    li{
        margin-bottom: 25px;
    }

    li::marker{
        display:none;
    }

    ul li::marker {
        display:none;
    }

    figcaption{
        text-align: center;
        color:black;
    }

    figure.clickable:hover figcaption{
        color:red;
        box-shadow:#ff0000
    }

    a:hover{
        color: #ff0000;

    }



/*----------Values for Navbar/Mobible menu----------*/
    .logo-div{
        display:flex;
        justify-content: center;
        align-items: center;
        padding: .1rem;
        gap: 1rem;
        background-image: url(./images/arts/croppedDecal.png);
        background-size: contain;
    }

    .logo {
        width: 27rem;
        height: 6rem;
    }

    .artwork{
        max-width: 30rem;
        min-width:20rem;
        height:100%;
        object-fit: contain;
    }

    .Navbar{
        color: white;
        background-color: black;
        font-family: "Silkscreen";
        font-weight: 700;
        font-size: 32px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: .5rem 0;
        position:sticky;
        top:0;
        word-spacing:.67rem;
    }

    .hamburger-icon{
        display: none;
        background-color: black;
        position:sticky;
        top:0;
    }


    .material-symbols-outlined{
        font-size:37px;
    }

    .off-screen-menu{
        color: white;
        background-color: black;
        font-family: "Silkscreen";
        font-size:32px;
        font-weight: 700;
        height:auto;
        width: 100%;
        max-width: 320px;
        margin:0px;
        margin-top: 0px;
        position: absolute;
        top:111px;
        left:-330px;
        display: none;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        text-align: center;
        transition: .3s ease;
        border:2px solid red;
    }

    .off-screen-menu.active{
        display:flex;
        flex-direction: column;
        left:0px;
    }


    .mini-window-bar{
        margin-bottom:60px
    }

    .x{
        position:absolute;
    }

    .mini-window{
        list-style: none;
    }

    .list{
        list-style-type:none !important;
        margin:0;
        padding:0;
    }

/*----------Home page----------*/
.home-body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:40px;
}

.home-artwork{
    max-width: 30rem;
    min-width:20rem;
    height:100%;
    object-fit: contain;
    border:grey 3px solid;
}

.home-text{
    align-items:center;
    justify-content: center;
    align-self: center;
    text-align: center;
    background-color:white;
    border:grey 3px solid;
    width: 400px;
    margin:30px;
}



/*----------Biography page----------*/
.bio-body{
    display:flex;
    margin:0;
    align-items: center;
    flex-direction: column;
}

.bio-text{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin:0;

}

/*----------Works page----------*/
    .works-content{
        margin-left:38px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 600px);
        grid-gap:100px;
        font-family: "Lekton";
        color:black;
        margin-bottom:0px;
        justify-content: center;

    }
    .works-content > .works-instance{
        display:flex;
        flex-direction: row;
        align-items: center;
        font-family: "Lekton";
        color:black;
        margin:0px;
        
}

/*----------exhibits----------*/

.year{
    display:flex;
    flex-direction: row;
    justify-content:left;
    

}

.exhibit-text{
    align-content: center;
    padding-left: 30px; 
    text-indent: -30px; 
}

.exhibit-body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*----------Contact----------*/

.icon{
    width:5rem;
    height:auto;
}

.contact-body{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    
    
}


/*----------Art pages----------*/
.artpage-body{
    display:flex;
    flex-direction: row;
    margin-top: 25px;
    justify-content: center;
}


.art{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.art-text{
    align-content: center;
    align-items: center;
    margin-left: 25px
}


.verti-art{
        max-width:75%;
        min-width:20rem;;
        max-height: 75rem;
        height:auto;
        object-fit:contain;
        border:1px solid grey
}

.horiz-art{
        max-width:75%;
        min-width:20rem;;
        max-height: 50rem;
        height:auto;
        object-fit:contain;
        border:1px solid grey
}

.spec-art{
        max-width:75%;
        min-width:20rem;;
        max-height: 120vh;
        height:auto;
        object-fit:contain;
        border:1px solid grey
}






/*----------Footer----------*/
    .footer{
        font-family: "Lekton";
        font-size: 26px;
        flex-grow: 2s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin:0;   
        
    }

    .lil-guy{
        width:5rem;
        height:auto;
    }

    .footer-guy{
        border:5px solid black;
        width:5rem;
        height:auto;
    }

/*Adjustments made for mobile view*/
    @media (max-width:1101px){
        .Navbar {
            display:none;
        }
        .hamburger-icon{
            display: flex;
            padding: .5rem 0;
            position:sticky;
            top:0;
        }
        .off-screen-menu{
            display:flex;
        }

        .art{
            display:flex;
            flex-direction: column;
        }

        .artpage-body{
            flex-direction: column;
        }

        .horiz-art{
            max-width:95%;
            min-width:20rem;;
            max-height: 50rem;
            height:auto;
            object-fit:contain;
        }

        .verti-art{
            max-width:95%;
            min-width:20rem;;
            max-height: 69rem;
            height:auto;
            object-fit:contain;
        }

        .art-text{
            display: flex;
            flex-direction: column;
            vertical-align: center;
        }

    }